@{
    ViewBag.Title = "Choose Your Month:";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="shadow p-3 mb-5 bg-white rounded">
    <ul class="nav nav-pills">
        <li><a href="#">Menu 1</a></li>
        <li><a href="#">Menu 2</a></li>
        <li><a href="#">Menu 3</a></li>
    </ul>
</div>