################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CrossvertiseCalendar.Tests/bin
/packages
/CrossvertiseCalendar.Tests/obj
/CrossvertiseCalendar/bin
/.vs/CrossvertiseCalendar/v15
